<div id="maindiv">
    <div id="top"><i class="fa fa-bars" aria-hidden="true" id="menu" ng-click="changepassword()"></i>
        <i class="fa fa-sign-out" aria-hidden="true" id="logout" ng-click="logout()"></i>
    </div>
    <div id="downleft">
        <li ><a ng-click="change()">change password</a></li>
        <li ng-click="back()">go back</li>
    </div>
    <div id="downright">
        <div>
            <div id="msgs">
                <div>
                    <i class="fa fa-envelope" aria-hidden="true" id="icon" ng-click="sendMessage()"> </i>
                    <input type="textarea" id="msgbox" name="msg" placeholder="Type message"></div>
            </div>
        </div>
    </div>
</div>